
<ion-view view-title="Agendamento" >
  <ion-content  class="backgound-content"  >

    <div class="box-alert" ng-if="app.has_data==false">
      <h4>{{agendamentos.msg}}</h4>
    </div>

    <div class="rowsqm" ng-if="app.has_data==true">
      <!--modelo do bloco sugestão-->
      <div class="col controlebox" ng-repeat="id in agendamentos.dados.ids">
        <div class="col circuito-title  " >
            <div > {{id.name}}</div>
        </div>
<hr class="horizontal-line" size="1" >
        <div ng-repeat="valor in agendamentos.dados[id.id]">
          <!-- Cabeçalho-->
          <div class="col ">{{valor.description}}</div>
          <div class="row">
            <div class="col col-20">HORA</div>
            <div class="col col-10">S</div>
            <div class="col col-10">T</div>
            <div class="col col-10">Q</div>
            <div class="col col-10">Q</div>
            <div class="col col-10">S</div>
            <div class="col col-10">S</div>
            <div class="col col-10">D</div>

          </div>

          <!-- -->
          <div class="row" >
            <div class="col col-20"><b>{{valor.run_at}}</b></div>
            <div class="col col-10"><i class="icon " ng-class="valor.mon ? 'ion-checkmark-round' : 'ion-close-round'"></i></div>
            <div class="col col-10"><i class="icon " ng-class="valor.tue ? 'ion-checkmark-round' : 'ion-close-round'"></i></div>
            <div class="col col-10"><i class="icon " ng-class="valor.wed ? 'ion-checkmark-round' : 'ion-close-round'"></i></div>
            <div class="col col-10"><i class="icon " ng-class="valor.thu ? 'ion-checkmark-round' : 'ion-close-round'"></i></div>
            <div class="col col-10"><i class="icon " ng-class="valor.fri ? 'ion-checkmark-round' : 'ion-close-round'"></i></div>
            <div class="col col-10"><i class="icon " ng-class="valor.sat ? 'ion-checkmark-round' : 'ion-close-round'"></i></div>
            <div class="col col-10"><i class="icon " ng-class="valor.sun ? 'ion-checkmark-round' : 'ion-close-round'"></i></div>
            <div class="col col-10">{{valor.relay_state? 'on':'off'}}</div>
          </div>

        </div>

      </div>



    </div>


  </ion-content>

</ion-view>
