
<ion-view view-title="Agendamento" >
  <ion-content  class="backgound-content"  >


    <div class="rowsqm">
                <!--modelo do bloco sugestão-->
                <div class="col controlebox" >
                  <div class="col circuito-title" >
                    Circuito 1
                  </div>
                  <hr class="horizontal-line" size="1" >
                    <div>
                                            <!-- Cabeçalho-->
                                            <div class="col ">Saída para almoço</div>
                                            <div class="row">
                                                          <div class="col col-20">HORA</div>
                                                          <div class="col col-10"></div>
                                                          <div class="col col-10">S</div>
                                                          <div class="col col-10">T</div>
                                                          <div class="col col-10">Q</div>
                                                          <div class="col col-10">Q</div>
                                                          <div class="col col-10">S</div>
                                                          <div class="col col-10">S</div>
                                                          <div class="col col-10">D</div>
                                            </div>

                                            <!-- -->
                                            <div class="row">
                                                      <div class="col col-20">18:00</div>
                                                      <div class="col col-10">lig</div>
                                                      <div class="col col-10"><i class="icon ion-checkmark-round"></i></div>
                                                      <div class="col col-10"><i class="icon ion-checkmark-round"></i></div>
                                                      <div class="col col-10"><i class="icon ion-checkmark-round"></i></div>
                                                      <div class="col col-10"><i class="icon ion-checkmark-round"></i></div>
                                                      <div class="col col-10"><i class="icon ion-checkmark-round"></i></div>
                                                      <div class="col col-10"><i class="icon ion-checkmark-round"></i></div>
                                                      <div class="col col-10"><i class="icon ion-checkmark-round"></i></div>
                                            </div>

                    </div>

                </div>



    </div>


  </ion-content>

</ion-view>
