<ion-view view-title="Porto da Dunas">
<ion-content  class="backgound-content">


<div class="row ">
  <div class="col areabox">
    <div class="row ">
        <div class="col col-80">
            <span class="icon-agendamento icone-area"></span> Escritório
        </div>
        <div class="col ">
          <label class="toggle toggle-small">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
           </div>
       </label>

   </div>
</div>
<div class="grafico-area">teste</div>

</div>

<div class="col areabox">
    <div class="row ">
        <div class="col col-80">
            <span class="icon-agendamento icone-area"></span> Escritório
        </div>
        <div class="col ">
          <label class="toggle toggle-small">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
           </div>
       </label>

   </div>
</div>
<div class="grafico-area">teste</div>

</div>


</div>





</ion-content>
</ion-view>
