<ion-view view-title="Porto da Dunas">
<ion-content  class="backgound-content">
<div class="circuito-text-top">
    <p>Você não está em nenhuma área específica, favor escolha uma área para acessar os circuitos dentro dela.</p>

</div>


<div class="row ">
  <div class="col circuitobox"><span class="icon-agendamento icone-circuito"></span><p>Escritório</p></div>
   <div class="col  circuitobox"><span class="icon-escritorio icone-circuito"></span><p>Escritório</p></div>
   <div class="col  circuitobox"><span class="icon-sala icone-circuito"></span><p>Escritório</p></div>
</div>
<div class="row ">
  <div class="col  circuitobox"><span class="icon-cozinha icone-circuito"></span><p>Escritório</p></div>
   <div class="col  circuitobox"><span class="icon-escritorio icone-circuito"></span><p>Escritório</p></div>
   <div class="col  circuitobox"><span class="icon-sala icone-circuito"></span><p>Escritório</p></div>
</div>



</ion-content>
</ion-view>
