<ion-view view-title="Login">
<ion-content >

<form  name="login" class="ritmos-form"  novalidade animate>
    <div class="padding  ">
        <img class="logo-image" src="img/logo.jpg" alt="logo">
    </div>

    <div class="list list-inset ">
        <label class="item item-input borda">
            <input class="center" name="user" type="text" placeholder="Username"  >
        </label>
        <label class="item item-input borda">
            <input  class="center" name="password" type="password" placeholder="Password" >
        </label>
    </div>
    <div class="padding">

<!--      ng-click="loginSystem()"  ui-sref="app.principal"-->
        <button ng-click="loginSystem()"  class="button button-block  button-balanced rounded" >
            Login
        </button>
        <button  class="button button-block button-clear button-balanced">
            Forgot Password?
        </button
        <button class="button button-stable">
            Create an acount
        </button>
    </div>
</form>


</ion-content>
</ion-view>



