<ion-modal-view>
  <ion-header-bar >
      <span class="icon-circuitos icone-circuito-title "></span >
          <h1 class="title">{{app.circuitoAtual.circuit.name}}</h1>
          <button class="button button-clear button-primary" ng-click="circuitosDetailsModal.hide()">X</button>
      </ion-header-bar>

      <ion-content class="padding  ">

          <div class="col circuitodetailsbox">
             <div >
          <div class="left-box" >
            R$
          </div>
          <div class="center-box">
            55
          </div>
          <div class="right-box">
            ,50
          </div>

        </div>
            <div class="progressBar">
                <div class="sup" ng-style="{width: {{80}} + '%'}"> </div>
                <div class="text-bar">{{10}}%</div>
            </div>
            <p class="pot-circuito">de R$100,00</p>
        </div>

        <!--Div com anel de porcentagem-->
        <div>
            <div class="row">
                <div class="col col-25 centraliza"><h3>42%</h3></div>
                <div class="col col-50 centraliza">

                    <div class="c100 p55 " >
<span class="circle-icon">  <span class="icon-smartquadros circle-size" ></span ></span >
                        <div class="slice">
                          <div class="bar-circle"></div>
                            <div class="fill-circle"></div>
                        </div>
                    </div>

                </div>

                <div class="col col-25 centraliza"> <h5>de consumo total</h5></div>

            </div>
        </div>

        <!--Div do gráfico-->
        <div>
            <canvas id="bar" class="chart chart-bar"
            chart-data="app.circuitoAtual.measures_c_tuple[1]" chart-labels="app.circuitoAtual.measures_c_tuple[0]" chart-series="series">
        </canvas>
    </div>

    <!--div da tabela-->
    <div>
    <h4>Dados</h4>
    <hr class="horizontal-line" size="1" >
        <div class="row">
            <div class="col col-70">Consumo próximo mês</div>
            <div class="col col-30">85KWh</div>
        </div>
        <div class="row">
            <div class="col col-70">Média mensal</div>
            <div class="col col-30">85KWh</div>
        </div>
        <div class="row">
            <div class="col col-70">Tensão</div>
            <div class="col col-30">{{app.circuitoAtual.last_measure.voltage}}V</div>
        </div>
        <div class="row">
            <div class="col col-70">Corrente</div>
            <div class="col col-30">85KWh</div>
        </div>
        <div class="row">
            <div class="col col-70">Potência Ativa</div>
            <div class="col col-30">{{app.circuitoAtual.last_measure.active_power}}KWh</div>
        </div>
        <div class="row">
            <div class="col col-70">Potência Aparente</div>
            <div class="col col-30">{{app.circuitoAtual.last_measure.apparent_power}}KWh</div>
        </div>
        <div class="row">
            <div class="col col-70">Fator de Potência</div>
            <div class="col col-30">{{app.circuitoAtual.last_measure.power_factor}}KWh</div>
        </div>
        <div class="row">
            <div class="col col-70">Energia Ativa</div>
            <div class="col col-30">85KWh</div>
        </div>
        <div class="row">
            <div class="col col-70">energia Reativa</div>
            <div class="col col-30">85KWh</div>
        </div>
        <div class="row">
            <div class="col col-70">Frequencia de rede</div>
            <div class="col col-30">{{app.circuitoAtual.last_measure.line_frequency}}Hz</div>
        </div>

    </div>


</ion-content>

</ion-modal-view>