<ion-modal-view>
  <ion-header-bar >
      <span class="icon-circuitos icone-circuito-title "></span >
          <h1 class="title">Circuito 3</h1>
          <button class="button button-clear button-primary" ng-click="circuitosDetailsModal.hide()">X</button>
      </ion-header-bar>

      <ion-content class="padding  ">

          <div class="col circuitodetailsbox">
             <div >
          <div class="left-box" >
            R$
          </div>
          <div class="center-box">
            55
          </div>
          <div class="right-box">
            ,50
          </div>

        </div>
            <div class="progressBar">
                <div class="sup" ng-style="{width: {{80}} + '%'}"> </div>
                <div class="text-bar">{{10}}%</div>
            </div>
            <p class="pot-circuito">de R$100,00</p>
        </div>

        <!--Div com anel de porcentagem-->
        <div>
            <div class="row">
                <div class="col col-25 centraliza"><h3>42%</h3></div>
                <div class="col col-50 centraliza">

                    <div class="c100 p55 " >
<span class="circle-icon">  <span class="icon-smartquadros circle-size" ></span ></span >
                        <div class="slice">
                          <div class="bar-circle"></div>
                            <div class="fill-circle"></div>
                        </div>
                    </div>

                </div>

                <div class="col col-25 centraliza"> <h5>de consumo total</h5></div>

            </div>
        </div>

        <!--Div do gráfico-->
        <div>
            <canvas id="bar" class="chart chart-bar"
            chart-data="data" chart-labels="labels" chart-series="series">
        </canvas>
    </div>

    <!--div da tabela-->
    <div>
    <h4>Dados</h4>
    <hr class="horizontal-line" size="1" >
        <div class="row">
            <div class="col col-80">Consumo próximo mês</div>
            <div class="col col-20">85KWh</div>
        </div>
        <div class="row">
            <div class="col col-80">Média mensal</div>
            <div class="col col-20">85KWh</div>
        </div>
        <div class="row">
            <div class="col col-80">Tensão</div>
            <div class="col col-20">85KWh</div>
        </div>
        <div class="row">
            <div class="col col-80">Corrente</div>
            <div class="col col-20">85KWh</div>
        </div>
        <div class="row">
            <div class="col col-80">Potência Ativa</div>
            <div class="col col-20">85KWh</div>
        </div>
        <div class="row">
            <div class="col col-80">Potência Reativa</div>
            <div class="col col-20">85KWh</div>
        </div>
        <div class="row">
            <div class="col col-80">Fator de Potência</div>
            <div class="col col-20">85KWh</div>
        </div>
        <div class="row">
            <div class="col col-80">Energia Ativa</div>
            <div class="col col-20">85KWh</div>
        </div>
        <div class="row">
            <div class="col col-80">energia Reativa</div>
            <div class="col col-20">85KWh</div>
        </div>
        <div class="row">
            <div class="col col-80">Frequencia de rede</div>
            <div class="col col-20">85KWh</div>
        </div>

    </div>


</ion-content>

</ion-modal-view>