<ion-modal-view >

<ion-header-bar >
    <h1 class="title">{{app.quadro.break_panel.name}}</h1>
          <button class="button button-icon button-clear  ion-stats-bars " ng-class="app.color" ng-click="openQuadros()" >
      </button>
  </ion-header-bar>

  <ion-content  class="backgound-content">

    <div class="box-alert" ng-if="app.has_data_controle==false">
      <h4>{{app.msg_controle}}</h4>
    </div>

    <div class="rowsqm" ng-if="app.has_data_controle==true">

          <!--modelo do bloco-->
          <div class="col controlebox" ng-repeat="circuito in app.dado">
                  <div class="row ">
                          <div class="col col-67 circuito-title" >
                            {{circuito.name}}
                          </div>
                          <div class="col ">
                           <p>{{circuito.date}}</p>
                         </div>
                 </div>
                 <hr class="horizontal-line" size="1" >

                 <div class="grafico-circuito" >
                    <div class="left-box" >
                      R$
                    </div>
                    <div class="center-box">
                      {{circuito.reais_goal}}
                    </div>
                    <div class="right-box">
                      ,{{circuito.centavos_goal}}
                    </div>
               <!--
                    <a class="button button-icon icon ion-gear-b buttom-controlebox" ng-click="openEditControle()"></a>
               -->
                  </div>

                  <div class="progressBar">
                    <div class="sup" ng-class="app.color" ng-style="{width: {{circuito.percent}} + '%'}"> </div>
                    <div class="text-bar">{{circuito.percent}}%</div>
                    <div class="text-bar-r" >{{circuito.value}}R$</div>
                  </div>

          <!--
                  <a class="button button-icon  buttom-controlebox-bottom">X</a>
          -->

          </div>

        </div>



</ion-content>

<ion-footer-bar>
<div class="tabs tabs-icon-top " ng-class="app.color">

  <a   ng-click="abreControle()" class="tab-item">
    <i class="icon ion-cube"></i>
    Controle
  </a>
  <a ng-click="abreCircuitos()" class="tab-item">
    <i class="icon ion-usb"></i>
    Circuitos
  </a>
  <img class="image-footer" ng-class="app.color" ng-click="closeAll()" src="img/logo-menu.png" alt="logo">
  <a ng-click="abreAgendamento()" class="tab-item">
    <i class="icon ion-calendar"></i>
    Agenda
  </a>
  <a class="tab-item" ng-click="openConfig()">
    <i class="icon ion-gear-a"></i>
    Configuração
  </a>
</div>
</ion-footer-bar>


</ion-modal-view>
